<div class="my-5">
    
  <div class = "container mx-auto bg  py-5 d-flex justify-content-center ">
    <div class = "card">
      <div class = "image text-center  ">
        <img  [src] ="imag"class="w-75" >
      </div>
      <div class ="content text-center text-light">
        <h2>ID:{{userid}}</h2>
<h3>Email:{{useremail}}</h3>
<h3>FirstName:{{FirstName}}</h3>
<h3>LastName:{{LastName}}</h3>
      </div>
    </div>    
  </div>
</div>

<div class="text-center"><a mat-flat-button color="primary" routerLink="">Back to previous page</a></div>
